/* nav design start here manoj */

body{
    margin: 0px;
    padding: 0px;
    width: auto;
}

p{
    margin: 0px;
}


.navbar-brand{
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
    font-family: emoji;
    color: blueviolet !important;
    
}
.searchbar{
    position: relative;
    border: 1px solid blueviolet !important;
    margin: 10px 8px 0px 32px;
}
/* .searchbar:focus{
     border: 1px solid green !important;
} */
/* .iconsearch{
    position: absolute;
    margin-left: 170px;
} */

.nav-link{
    border: 1px solid blueviolet !important;
    border-radius: 5px; 
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    color: blueviolet !important;
}

.nav-link:hover{
    background: blueviolet;
    color: white !important;
}

/* nav design end here */


/* institute feature design start here manoj */


.box{
    border: 1px solid red;
    box-shadow: 0px 5px 10px lightblue;
    background: whitesmoke;
    border-radius: 20px 0px 20px 0px;
}

.box:hover{
    border: 1px solid blueviolet;
    box-shadow: 0px 0px 10px lightgray;
    transition: 0.3s;
}

.icon{
    text-align: center;
}

.icon img{
    text-align: center;
    margin: 10px;
}

.heading{
    text-align: center;
    color: blueviolet;
    color: rgba(50, 150, 50, 0.5);
    text-transform: capitalize;
    font-style: italic;
    font-family: emoji;
    cursor: pointer;
}
.box:hover>.heading{
    color: red;
    
}

.paragraph{
    text-align: start;
    padding: 10px;
    cursor: pointer;
}
/* our feature courses */


.ourfeature{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px ;
    text-transform: uppercase;
    color: rgba(199, 169, 228, 0.7);
    font-style: italic;
    font-family: emoji;
}

.ourfeatureicon{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: royalblue;
    font-style: italic;
    font-family: emoji;
    text-align: center;
}

.card{
    margin: 10px;
}

.ourfeature h1{
    text-align: center;
    color: royalblue;
}


.images img{
    height: 200px;
    width: 500px;
}

.coursename{
    text-align: center;
    text-transform: uppercase;
    
}

.coursename h1{
    font-size: 15px;
    padding: 20px 0px 0px 0px;
}

.coursename a{
    text-decoration-line: none;
}

/* blog  section  */


/* .blog_section{
    background-image: url(../images/blog.png);
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    margin-top: -2000px;
} */

.bloghead{
    display: flex;
    justify-content: center;
}

.bloghead h1{
    font-family: emoji;
    text-transform: uppercase;
    font-variant: small-caps;
    font-style: italic;
    color: royalblue;
}

.mainblog{
    border: 1px dashed rgb(155, 55, 99, 0.5);
    margin: 10px;
    transition: 0.3s;
}
.mainblog:hover{
    box-shadow: 0px 10px 20px  lightgray;
}

.blogheading{
    font-size: small;
    text-align: center;
}

.blog:hover>.blogheading h1{
    color: royalblue;
}

.blogheading h1{
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 0px 0px;

}



.blogpara{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* padding:10px; */
    margin: 10px;
    text-align: justify;
    /* display: -moz-box;
    -moz-line-clamp: 4;
    -moz-box-orient: vertical; */
    
    
}

.readmore{
    text-align: center !important;
    padding: 20px 0px 20px 0px;
    word-spacing: 2px;
   
}
.readmore a{
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}
.blog:hover>.readmore a{
    color: black;
}


/* student say blog */

.mainitem{
    border: 1px dashed red;
}

.maincard{
    border:1px dashed darkred !important;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0px 10px 20px  lightgray;
}

.card-name{
    text-align: center;
    text-transform: uppercase;
    font-family: emoji;
    padding: 10px 0px 0px 0px;
}

.cardpara{
    text-align: center;
    padding: 10px;
    
}
.cardrow{
    display: flex;
    justify-content: center;
}

/* footer section */

.fotter-section{
    background: url(../images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.contact{
    color: white;
    text-transform: capitalize;
    font-family: emoji;
    /* font-style: italic; */
}

.contact-detail{
    color: white;
    text-transform: capitalize;
    /* font-family: emoji; */
}


.company{
    color: white;
    text-transform: capitalize;
    font-family: emoji;
}

.company-detail{
    color: white;
    text-transform: capitalize;
}

.social-media{
    color: white;
    text-transform: capitalize;
    font-family: emoji;
}

.social-detail{

}


/* blog */

.bgsection{
    /* background: red;  */
    background-image: linear-gradient(royalblue,rgba(255,0,0,0));
    height: 400px;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    color: white;
} 

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.dropd{
    padding: 10px 100px 0px 50px;
   
}

.dropbtn{
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    background: white;
}
.dropdown-content {
   width: 200px;
}

.dropdown-content a{
    display: block;
    margin: auto;
}

/* video section start */
.notesection{
    text-align: center;
}

.codesection{
    text-align: center;
}


.videoplaylist a{
    text-decoration-line: none;
   
}
.plycoursename{
    background: royalblue;
    margin-top: 0px;
}
.playlistbox{
    /* position: absolute; */
    border: 2px solid red;
    height: 800px;
    overflow-y:scroll;
    margin: 2%;
}

.playlist iframe{
    border: 2px solid royalblue;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .playlist iframe{
        width: 100%;
        height: 500px;
    }
  }

  @media screen and (max-width: 951px) {
    .playlist iframe{
        width: 100%;
        height: 380px;
    }
  }

  @media screen and (max-width: 700px) {
    .playlist iframe{
        width: 100%;
        height: 300px;
    }
  }

  @media screen and (max-width: 556px) {
    .playlist iframe{
        width: 100%;
        height: 200px;
    }
  }

  @media screen and (max-width: 400px) {
    .playlist iframe{
        width: 100%;
        height: 200px;
    }
  }

  /* @media screen and (max-width: 991px) {
    .playlist iframe{
        width: 100%;
        height: 150px;
    }
  } */

 /* video section end  */